<section class="uk-section uk-margin-xlarge-left uk-margin-small-top uk-margin-xlarge-right">
    <div class="uk-margin-small-bottom">
        <article class="uk-article">
            <h1 class="uk-article-title"><a class="uk-link-reset" href=""><strong>{{ noticia.titulo }}</strong></a></h1>
            <p class="uk-article-meta">Escrito por <strong>{{ noticia.usuario }}</strong> el <strong>{{ noticia.fecha }}</strong></p>
            <p class="uk-text-lead">{{ noticia.subtitulo }}</p>
            {{#each noticia.cuerpo}}
                <p>{{ pa }}</p>

            {{/each}}
            <div class="uk-grid-small uk-child-width-auto" uk-grid>
                <div>
                    <p class="uk-text-uppercase" >{{ noticia.categoria }}</p>
                </div>
                <div>
                    <p class="uk-text-uppercase">{{numeroComentarios}} Comentarios.</p>
                </div>
            </div>
        </article>
    </div>

    {{#if usuarioAutenticado}}
    <a class="uk-button uk-button-secondary  uk-margin-medium-bottom" href="/noticia/{{noticiaId}}/compartir">
        <span data-uk-icon="social" class="uk-margin-small-right"></span>
        Compartir</a>

    <div class="uk-card uk-card-default uk-card-body
        uk-width-1-1@m uk-align-left">
        <form method="post" action="/publicarComentario">
            <fieldset class="uk-fieldset">
                <div class="uk-margin">
                    <div class="uk-width-1-5">
                        <div class="uk-inline uk-width-1-1">
                            <label class="uk-form-label">Valoración (puntos)</label>
                            <div class="uk-inline">
                                <button class="uk-icon-button" uk-icon="info"></button>
                                <div uk-dropdown >
                                    <span class="uk-text-muted">La valoración que se le pone a la noticia que tiene en pantalla. Los valores máximo
                                    y mínimo permitidos son 0 y 10</span>
                                </div>
                            </div>
                            <select class="uk-select" name="valoracion"
                                    required="true">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="uk-width-4-5">
                        <input class="uk-input" type="hidden"
                               name="idNoticia" required="true" value={{noticia._id}}>
                    </div>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label">Comentario</label>
                    <div class="uk-inline">
                        <button class="uk-icon-button" uk-icon="info"></button>
                        <div uk-dropdown >
                            <span class="uk-text-muted">Comentario para el autor de la noticia acerca de dicha noticia.</span>
                        </div>
                    </div>
                    <textarea style="resize: none" class="uk-textarea" rows="5"
                              name="comentario"
                              placeholder="Comentario"
                              required="true"></textarea>
                </div>
                <button class="uk-button uk-button-primary uk-width-expand" type="submit">
                    <span data-uk-icon="plus-circle" class="uk-margin-small-right"></span>
                    Añadir comentario
                </button>
            </fieldset>
        </form>
    </div>
    {{/if}}
    {{#each comentarios}}
        <article class="uk-comment uk-comment-primary uk-margin-small-top">
            <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{usuario}}</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                        <li><a href="#">Valoracion: {{valoracion}} puntos</a></li>
                        {{#if borrar }}
                            <li><a href="/eliminar/{{_id}}/comentario/{{noticia}}">  <span style="color: #f0506e;" uk-icon="trash" uk-tooltip="Eliminar"></span></a></li>
                        {{/if}}
                    </ul>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>{{comentario}}</p>
            </div>
        </article>
    {{/each}}
</section>