<section class="uk-section">
    <div class="uk-container">

        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                <tr>
                    <th class="uk-table-expand">Titulo</th>
                    <th class="uk-width-small">Categoría</th>
                    <th class="uk-width-small">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {{#each noticias}}
                <tr>
                    <td >{{ titulo }}</td>
                    <td >{{ categoria }}</td>
                    <td>
                        <div class="uk-flex">
                        <a class="uk-link uk-width-1-3" href="/noticia/{{_id}}/compartir">
                            <span uk-icon="social" uk-tooltip="Compartir"></span>
                        </a> <br>
                        <a class="uk-link uk-width-1-3" href="/noticia/{{_id}}/modificar">
                            <span  style="color: #32d296;" uk-icon="pencil" uk-tooltip="Modificar"></span>
                            </a> <br>
                        <a class="uk-link uk-width-1-3" href="/eliminar/{{ _id }}/noticia">
                            <span style="color: #f0506e;" uk-icon="trash" uk-tooltip="Eliminar"></span>
                        </a>
                        </div>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

        <ul class="uk-pagination uk-flex-center" uk-margin>
            {{#each paginas}}

                <li class="{{ clase }}">
                    <a href="/misnoticias?pg={{valor}}">{{valor}}</a>
                </li>

            {{/each}}
        </ul>
    </div>
</section>