<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left uk-visible@m">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Portada</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Nacional</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Internacional</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Política</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Economía</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Sociedad</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Cultura</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Ciencia</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Deportes</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Televisión</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Gente</a></li>
            <li class="uk-parent"><a href="/noticias" name="criterio">Opinión</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-nav">
            <form class="uk-search uk-search-default uk-width-1-1" action="/noticias">
                <span uk-search-icon></span>
                <input class="uk-search-input"
                       name="criterio"
                       type="search" placeholder="Buscar...">
            </form>
        </div>
    </div>
</nav>

<section class="uk-section uk-section-default">
    <div class="uk-container">
        <!-- sin incluir uk-grid no va el grid -->
        <div class="uk-child-width-1-2@m" uk-grid >
            {{#each noticias}}
            <div >
                <div style="height:350px;"
                     class="uk-card uk-card-default uk-grid uk-grid-collapse uk-child-width-1-2 uk-margin">
                    <div class="uk-card-media-left uk-cover-container">
                        <img style="height:350px;"
                             class="uk-cover" src="/subidas/{{ _id }}.png">
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ titulo }}</h3>
                            <p>{{ subtitulo }}.</p>
                            <p><strong>Autor: {{ usuario }}</strong></p>
                            <div class="uk-grid uk-margin uk-child-width-1-2">
                                <div class="uk-width-2-5 ">
                                    <a class="uk-button uk-button-primary uk-button-small"
                                       href="/detalle/{{ _id }}">
                                        Más...
                                    </a>
                                </div>
                                <div class="uk-width-3-5@m">
                                    <div>
                                        {{#if usuarioAutenticado}}
                                        <a href="/noticia/{{ _id }}/compartir" class="uk-margin-small-right" ><span  uk-icon="social" title="Compartir"></span></a>
                                        {{/if}}
                                        {{#if adminNoticia }}
                                        <a href="/noticia/{{ _id }}/modificar" class="uk-margin-small-right" ><span  uk-icon="pencil" title="Editar"></span></a>
                                        <a href="/detalle/{{ _id }}" ><span uk-icon="trash" title="Eliminar"></span></a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>