<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center uk-visible@m">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/noticias">Portada</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=nacional" name="categoria">Nacional</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=internacional" name="categoria">Internacional</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=politica" name="categoria">Politica</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=economia" name="categoria">Economía</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=sociedad" name="categoria">Sociedad</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=cultura" name="categoria">Cultura</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=ciencia" name="categoria">Ciencia</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=deportes" name="categoria">Deportes</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=television" name="categoria">Televisión</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=gente" name="categoria">Gente</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=opinion" name="categoria">Opinión</a></li>
        </ul>
    </div>
</nav>

<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-inline uk-width-1-1 uk-align-center">
            <div>
                <form method="get" action="/noticias" class="uk-margin uk-grid">
                    <div id="btnFilter" class="uk-align-center">
                        <button class="uk-icon-button" uk-icon="plus" title="Añadir filtro" onclick="habilitarFiltroAutor(); return false;"></button>
                    </div>
                    <div id="autorFilter" class="uk-width-1-2 uk-hidden">
                        <label class="uk-form-label">
                            Autor
                        </label>
                        <input class="uk-input"
                               name="usuario"
                               type="search" placeholder="Buscar autor">
                    </div>
                    <div class="uk-width-expand">
                        <label class="uk-form-label">
                            Título
                        </label>
                        <input class="uk-input"
                               name="titulo"
                               type="search" placeholder="Buscar título">
                    </div>

                    <div class="uk-width-1-1">
                        <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-top"
                                type="submit"><span uk-search-icon></span>
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- sin incluir uk-grid no va el grid -->
        <div class="uk-child-width-1-2@m" uk-grid >

            {{#if numero}}
            {{#each noticias}}
            <div >
                <div class="uk-card uk-card-default uk-card-small uk-grid uk-grid-collapse uk-child-width-1-2 uk-margin uk-card-hover uk-responsive-height">
                    <div class="uk-card-media-left uk-cover-container">
                        <img class="uk-cover" src="/subidas/{{ _id }}.png">
                    </div>
                    <div>
                        <div class="uk-card-body">
                            {{#ifEquals categoria "politica" }}
                                <div class="uk-card-badge "><img style="height:40px;" src="/images/politica.png" title="Política"/></div>
                            {{/ifEquals}}
                            {{#ifEquals categoria "economia" }}
                                <div class="uk-card-badge "><img style="height:40px;" src="/images/euro.png" title="Economía"/></div>
                            {{/ifEquals}}
                            {{#ifEquals categoria "deportes" }}
                                <div class="uk-card-badge "><img style="height:40px;" src="/images/corriendo.png" title="Deportes"/></div>
                            {{/ifEquals}}
                            {{#ifEquals categoria "nacional" }}
                                <div class="uk-card-badge "><img style="height:40px;" src="/images/espana.png" title="Nacional"/></div>
                            {{/ifEquals}}
                            {{#ifEquals categoria "internacional" }}
                                <div class="uk-card-badge "><img style="height:40px;" src="/images/tierra.png" title="Internacional"/></div>
                            {{/ifEquals}}
                            {{#ifEquals categoria "sociedad" }}
                                <div class="uk-card-badge "><img style="height:40px;" src="/images/corporacion.png" title="Sociedad"/></div>
                            {{/ifEquals}}
                            {{#ifEquals categoria "television" }}
                                <div class="uk-card-badge "><img style="height:40px;" src="/images/television.png" title="Televisión"/></div>
                            {{/ifEquals}}
                            {{#ifEquals categoria "opinion" }}
                                <div class="uk-card-badge "><img style="height:40px;" src="/images/opinion.png" title="Opinión"/></div>
                            {{/ifEquals}}
                            <h3 class="uk-card-title uk-margin-large-top">{{ titulo }}</h3>
                            <p>{{ subtitulo }}.</p>
                            <div class="uk-grid uk-margin uk-child-width-1-2">
                                <div class="uk-width-2-5 ">
                                    <a class="uk-button uk-button-primary uk-button-small"
                                       href="/detalle/{{ _id }}">
                                        Más...
                                    </a>
                                </div>
                                <div class="uk-width-3-5@m">
                                    <div>
                                        {{#if usuarioAutenticado}}
                                        <a href="/noticia/{{ _id }}/compartir" class="uk-margin-small-right" ><span  uk-icon="social" title="Compartir"></span></a>
                                        {{/if}}
                                        {{#if adminNoticia }}
                                        <div class="uk-inline">
                                            <button class="uk-icon-button" uk-icon="more"></button>
                                            <div uk-dropdown >
                                                <a href="/noticia/{{ _id }}/modificar" ><span class="uk-icon-button" uk-icon="pencil" title="Editar"></span></a>
                                                <a href="/eliminar/{{ _id }}/noticia" ><span class="uk-icon-button" uk-icon="trash" title="Eliminar"></span></a>
                                            </div>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

            {{/if}}
            {{^numero}}
            <div class="uk-align-center">
                <img src="/images/sinResultados.PNG">
            </div>
            {{/numero}}
        </div>
    </div>
</section>

<script>
    function habilitarFiltroAutor() {
        document.getElementById("autorFilter").classList.remove("uk-hidden");
        document.getElementById("btnFilter").classList.add("uk-hidden");
    }
</script>