<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center uk-visible@m">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/noticias">Portada</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=nacional" name="categoria">Nacional</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=internacional" name="categoria">Internacional</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=politica" name="categoria">Politica</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=economia" name="categoria">Economía</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=sociedad" name="categoria">Sociedad</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=cultura" name="categoria">Cultura</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=ciencia" name="categoria">Ciencia</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=deportes" name="categoria">Deportes</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=television" name="categoria">Televisión</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=gente" name="categoria">Gente</a></li>
            <li class="uk-parent"><a href="/noticias?categoria=opinion" name="categoria">Opinión</a></li>
        </ul>
    </div>
</nav>

<section class="uk-section uk-section-default">
    <div class="uk-container">

        <div class="uk-inline uk-width-1-1 uk-align-center">
            <div >
                <form method="get" action="/noticias" class="uk-grid uk-margin">
                    <div class="uk-width-2-5">
                        <label class="uk-form-label">
                            Título
                        </label>
                        <input class="uk-input"
                               name="titulo"
                               type="search" placeholder="Buscar título">
                    </div>
                    <div class="uk-width-2-5">
                        <label class="uk-form-label">
                            Autor
                        </label>
                        <input class="uk-input"
                               name="usuario"
                               type="search" placeholder="Buscar autor">
                    </div>
                    <div class="uk-width-1-5@m">
                        <button class="uk-button uk-button-secondary uk-margin-top"
                                type="submit"><span uk-search-icon></span>
                            Buscar
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- sin incluir uk-grid no va el grid -->
        <div class="uk-child-width-1-2@m" uk-grid >

            {{#if numero}}
            {{#each noticias}}
            <div >
                <div style="height:350px;"
                     class="uk-card uk-card-default uk-grid uk-grid-collapse uk-child-width-1-2 uk-margin">
                    <div class="uk-card-media-left uk-cover-container">
                        <img style="height:350px;"
                             class="uk-cover" src="/subidas/{{ _id }}.png">
                    </div>
                    <div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ titulo }}</h3>
                            <p>{{ subtitulo }}.</p>
                            <p><strong>Autor: {{ usuario }}</strong></p>
                            <div class="uk-grid uk-margin uk-child-width-1-2">
                                <div class="uk-width-2-5 ">
                                    <a class="uk-button uk-button-primary uk-button-small"
                                       href="/detalle/{{ _id }}">
                                        Más...
                                    </a>
                                </div>
                                <div class="uk-width-3-5@m">
                                    <div>
                                        {{#if usuarioAutenticado}}
                                        <a href="/noticia/{{ _id }}/compartir" class="uk-margin-small-right" ><span  uk-icon="social" title="Compartir"></span></a>
                                        {{/if}}
                                        {{#if adminNoticia }}
                                        <a href="/noticia/{{ _id }}/modificar" class="uk-margin-small-right" ><span  uk-icon="pencil" title="Editar"></span></a>
                                        <a href="/eliminar/{{ _id }}/noticia" ><span uk-icon="trash" title="Eliminar"></span></a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}

            {{/if}}
            {{^numero}}
            <div class="uk-align-center">
                <img src="/images/sinResultados.PNG">
            </div>
            {{/numero}}
        </div>
    </div>
</section>