<section class="uk-section">
    <div class="uk-card uk-card-default uk-card-body
        uk-width-1-2@m uk-align-center">
        <!-- encType es para que pueda enviar ficheros -->
        <form method="post" action="/publicar" encType="multipart/form-data">
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">Nueva noticia </legend>

                <div class="uk-margin">
                    <label class="uk-form-label">
                        <strong>Título</strong>
                    </label>
                    <input class="uk-input" type="text"
                           name="titulo"
                           placeholder="España asciende en el ranking..."
                           required="true">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label">
                        <strong>Subtítulo</strong>
                    </label>
                    <input class="uk-input" type="text"
                           name="subtitulo"
                           placeholder="El ranking de países mostrado en el diario El Mundo..."
                           required="true">
                </div>
                <div class="uk-grid uk-margin">
                    <div class="uk-width-2-3@s">
                        <label class="uk-form-label"><strong>Categoría</strong></label>
                        <select class="uk-select" name="categoria"
                                required="true">
                            <option value="politica">Política</option>
                            <option value="economia">Economía</option>
                            <option value="sociedad">Sociedad</option>
                            <option value="cultura">Cultura y ciencia</option>
                            <option value="deportes">Deportes</option>
                            <option value="television">Televisión</option>
                            <option value="gente">Gente</option>
                            <option value="opinion">Opinión</option>
                        </select>
                    </div>
                    <div class="uk-width-1-3@s">
                        <label class="uk-form-label">
                            <strong>Fecha</strong>
                        </label>
                        <input class="uk-input" type="date"
                               name="fecha" required="true" data-uk-datepicker="{format:'DD.MM.YYYY'}">
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"><strong>Cuerpo</strong></label>
                    <textarea style="resize: none" class="uk-textarea" rows="5"
                              name="cuerpo"
                              placeholder="El 28 de abril de 1998..."
                              required="true"></textarea>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label"><strong>Foto</strong></label>
                    <div uk-form-custom="target: true" class="uk-width-expand">
                        <input type="file" name="foto" accept="image/png">
                        <input class="uk-input" type="text"
                               placeholder="Selecciona fichero o arrástralo aquí">
                    </div>
                </div>

                <button class="uk-button uk-button-primary uk-width-1-1
                        uk-margin-small-bottom"
                        type="submit">
                    Publicar
                </button>
            </fieldset>
        </form>
    </div>
</section>